 {{ form_start(form) }}
 <div class="row">
                        <div class="col-lg-9 pr-lg-0">

                            <div class="page-section">
                                <h4>Changer Mot de Passe</h4>

                                <div class="alert alert-soft-warning">
                                    <div class="d-flex flex-wrap align-items-center">
                                          <div class="d-flex flex-wrap align-items-start">
                                                    <div class="mr-8pt">
                                                        <i class="material-icons">access_time</i>
                                                    </div>
                                                    <div class="flex" style="min-width: 180px">
                                                        <small class="text-black-100">
                                                        {% set formErrors = form.vars.errors.form.getErrors(true) %}
                                    
                                                            {# If there are errors in the form, display them in this unorganized list #}
                                                            {% if formErrors|length %}
                                                                <ul>
                                                                    {% for error in formErrors %}
 
                                                                        <li><strong>Attention!</strong>{{ error.message }}</li>
                                                                    {% endfor %}
                                                                </ul>
                                                            {% endif %}

                                                        </small>
                                                    </div>
                                                </div>
                                    </div>
                                </div>

                                <div class="list-group list-group-form">
                                   <div class="list-group-item">
                                       {{ form_widget(form.plainPassword) }}
                                         <button class="btn btn-primary">Changer Mot de passe</button>
                                   </div>
                                </div>
                            </div>

                        </div>
                        <div class="col-lg-3 page-nav">
                            <div class="page-section pt-lg-112pt">
                                <nav class="nav page-nav__menu">
                                    <a class="nav-link" href="{{ path('user_profile') }}">Details</a>
                                     <a class="nav-link active" href="{{ path('profile_changePassword') }}">Changer Mot de Passe</a>
                                </nav>
                                 
                            </div>
                        </div>
                    </div>
 <div class="my-custom-class-for-errors">
        
    </div>
      
    {{ form_end(form) }}