
{{ form_start(emailForm) }}

<div class="row">
    <div class="col-sm-6 mx-auto">

                        <div class="alert alert-soft-warning">
                            <div class="d-flex flex-wrap">
                                <div class="mr-8pt">
                                    <i class="material-icons">check_circle</i>
                                </div>
                                <div class="flex" style="min-width: 180px">
                                    <small class="text-black-100">
                                       Un e-mail avec des instructions de réinitialisation du mot de passe a été envoyé à votre adresse e-mail, si elle existe sur notre système.
                                    </small>
                                </div>
                            </div>
                        </div>


                        <div class="form-group">
                                  
                                    {{ form_label(emailForm.email, null, {
                                        'label': 'EMAIL:',
                                        'label_attr': {'class': 'form-label col-form-label col-sm-3'}
                                    }) }}
                                   
                                        {{ form_widget(emailForm.email, {'attr': {'placeholder': 'email@example.com'}}
                                        
                                        )  }}
                                    
                                    <small class="form-text text-muted">Nous vous enverrons par e-mail des informations sur la réinitialisation de votre mot de passe.</small>
                                    <div class="text-center">
                                      <button class="btn btn btn-accent">{{ button_label|default('envoyer') }}</button>                     
                                    </div>
                               
                         </div>

                     
                     













                    </div>
   
</div>

{{ form_end(emailForm) }}
