{% extends "huma.demo9.base.html.twig" %}

{% block title %}Seances{% endblock %}

{% block body %}























    <div class="preloader">
        <div class="sk-double-bounce">
            <div class="sk-child sk-double-bounce1"></div>
            <div class="sk-child sk-double-bounce2"></div>
        </div>
    </div>

    <div class="mdk-drawer-layout js-mdk-drawer-layout" data-push data-responsive-width="992px">
        <div class="mdk-drawer-layout__content page-content">

            <!-- Header -->




             {% block MainHeader %}
			 
				{{ parent() }}  
             {% endblock %}



            <!-- // END Header -->
            
            <!-- //  Page Header -->
            {% block PageHeader %}
			<div class="border-bottom-2 py-32pt position-relative z-1">
                <div class="container-fluid page__container d-flex flex-column flex-md-row align-items-center text-center text-sm-left">
                    <div class="flex d-flex flex-column flex-sm-row align-items-center mb-24pt mb-md-0">

                        <div class="mb-24pt mb-sm-0 mr-sm-24pt">
                            <h2 class="mb-0">Seances</h2>


                            <ol class="breadcrumb p-0 m-0">
                                <li class="breadcrumb-item"><a href="index.html">Home</a></li>

                                <li class="breadcrumb-item active">

                                    Seances

                                </li>

                            </ol>

                        </div>

                        
                    </div>


                    <div class="row" role="tablist">
                        <div class="col-auto d-flex flex-column">

                        <form   class="search-form sidebar-m-b sidebar-p-l mx-16pt pr-0 search-form--light">
                            <input type="text" class="form-control pl-0" placeholder="Rechercher un cours" name="q" value="{{ app.request.query.get('q') }}">
                            <button class="btn" type="submit"><i class="material-icons">search</i></button>
                         </form>
 
                        </div>
                        {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_TUTEUR') %}
                        <div class="col-auto border-left">
                            <a href="{{ path('seance_new') }}" class="btn btn-accent">Nouvelle Seance</a>
                        </div>
                        {% endif %}
                    </div>

                </div>
            </div>
				
            {% endblock %}
            <!-- // END Page Header -->
             


















             <!-- //   Page Content -->
            {% block Content %}
				<div class="container-fluid page__container page__container page-section">
                {{ parent() }}  
                  
                 
                        <div class="row">
                                    <div class="col-lg-9 pr-lg-0">

                                        <div class="page-section">
                                            <h4>Seances</h4>

                                            
                                            <div class="page-separator">
                                                <div class="page-separator__text">List des Seances </div>
                                            </div>

                                            <div class="card table-responsive">
                                                <table class="table table-flush table-nowrap">
                                                    <thead>
                                                        <tr>
                                                            <th>{{ knp_pagination_sortable(seances, 'Id', 'id')|raw }}.</th>
                                                            <th>{{ knp_pagination_sortable(seances, 'Date', 'temps')|raw }}</th>
                                                            <th class="text-center">{{ knp_pagination_sortable(seances, 'Durée', 'duree')|raw }} </th>
                                                            <th></th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                    {% for seance in seances %}
                                                        <tr>
                                                            <td><a href="{{ path('seance_show', {'id': seance.id}) }}" class="text-underline">{{ seance.id }}</a></td>
                                                            <td>{{ seance.temps ? seance.temps|date('Y-m-d') : '' }}</td>
                                                            <td class="text-center">{{ seance.duree }} H</td>
                                                            <td class="text-right">
                                                                <div class="d-inline-flex align-items-center">
                                                                    <a href="{{ path('seance_show', {'id': seance.id}) }}" class="btn btn-sm btn-outline-secondary mr-16pt">Detailles <i class="icon--right material-icons">keyboard_arrow_right</i></a>
                                                                    <a href="{{ path('realisation_show', {'id': seance.realisation.id }) }}" alt="{{ seance.realisation.titre }}" title="{{ seance.realisation.titre }}" class="btn btn-sm btn-outline-secondary">Realisation <i class="icon--right material-icons">keyboard_arrow_right</i></a>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                        {% else %}
                                                            <td class="text-right">
                                                                <div class="d-inline-flex align-items-center">
                                                                    Aucun enregistrement trouvé
                                                                </div>
                                                            </td>
                                                           
                                                           
                                                        {% endfor %}
                                                        </tbody>
                                                </table>

                                                <div class="card p-8pt mb-0 d-inline-block">
                                                        <ul class="pagination justify-content-start pagination-xsm m-00">	
                                                                            <li class="page-item">
                                                                                {{ knp_pagination_render(seances, null, {}, {
                                                                                    'position': 'right',
                                                                                    'size': 'small',
                                                                                    'rounded': true,
                                                                                }) }}
                                                                            </li>								
                                                        </ul>
                                                </div>

                                            </div>
                                        </div>

                                    </div>
                                    <div class="col-lg-3 page-nav">
                                        <div class="page-section pt-lg-112pt">
                                            <nav class="nav page-nav__menu">
                                                <a class="nav-link active" href="billing.html">Tous</a>
                                                <a class="nav-link active" href="billing-upgrade.html">Aujourd'hui</a>
                                                <a class="nav-link active" href="billing-payment.html">Cette Semaine</a>
                                                
                                            </nav>
                                            <!-- <div class="page-nav__content">
                        <button type="submit" class="btn btn-accent">Save changes</button>
                    </div> -->
                                        </div>
                                    </div>
                                </div>
                

                
                </div>
            {% endblock %}
            <!-- // END content -->


            <!-- // Footer -->
             {% block footer %}
				{{ parent() }}  
            {% endblock %}
             <!-- // END footer -->
            


        </div>
        <!-- // END drawer-layout__content -->

        {% block drawerSideBar %}
			{{ parent() }}  
        {% endblock %}
        {% block Settings %}
		{{ parent() }}  
        {% endblock %}


    {% block javascripts %}
	{{ parent() }}  
    {% endblock %}
 

 {% endblock %}

 


















 