{% extends 'base.html.twig' %}

{% block title %}Demande{% endblock %}

{% block body %}
    <h1>Demande</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ demande.id }}</td>
            </tr>
            <tr>
                <th>Id_etudiant</th>
                <td>{{ demande.idEtudiant }}</td>
            </tr>
            <tr>
                <th>Date_creation</th>
                <td>{{ demande.dateCreation ? demande.dateCreation|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Date_modification</th>
                <td>{{ demande.dateModification ? demande.dateModification|date('Y-m-d') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('demande_index') }}">back to list</a>

    <a href="{{ path('demande_edit', {'id': demande.id}) }}">edit</a>

    {{ include('demande/_delete_form.html.twig') }}
{% endblock %}
