<form method="post" action="{{ path('realisation_delete', {'id': realisation.id}) }}" onsubmit="return confirm('Êtes-vous sûr de bien vouloir supprimer cette Realisation?');">
    <a href="{{ path('realisation_index') }}" class="mr-3"> <i class="fa fa-long-arrow-alt-left"></i>  Retour </a>
    <a href="{{ path('cours_show', {'id': realisation.cours.id}) }}#" class="mr-2 text-50"><b>Cours</b></a>
    <a href="{{ path('realisation_edit', {'id': realisation.id}) }}" class="text-50" style="text-decoration: underline;">Modifier</a>
								

    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ realisation.id) }}">
    <button class="btn"> <i class="fa fa-trash"></i></button>
</form>
