{% extends 'base.html.twig' %}

{% block title %}Realisation{% endblock %}

{% block body %}
    <h1>Realisation</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ realisation.id }}</td>
            </tr>
            <tr>
                <th>Date_creation</th>
                <td>{{ realisation.dateCreation ? realisation.dateCreation|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Date_modification</th>
                <td>{{ realisation.dateModification ? realisation.dateModification|date('Y-m-d') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('realisation_index') }}">back to list</a>

    <a href="{{ path('realisation_edit', {'id': realisation.id}) }}">edit</a>

    {{ include('realisation/_delete_form.html.twig') }}
{% endblock %}
